header {
  nav {
    max-width: 1100px;
    margin: 0 auto;

    @media screen and (max-width: 600px) {
      display: none;
    }

    ul {
      @include alignChildren(space-around);

      &:hover li:not(:hover)::before,
      &:hover li:not(:hover) {
        background: none;
        color: $black1;
      }

      li {
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 900;
        cursor: pointer;
        letter-spacing: 0.5px;
        padding: 20px 0;

        @media screen and (max-width: 890px) {
          font-size: 0.55rem;
        }

        &:first-child,
        &:hover {
          color: $color1;
          position: relative;

          &::before {
            position: absolute;
            content: "";
            height: 4px;
            width: 100%;
            background: $color1;
            top: 0;
          }
        }
      }
    }
    #language {
      background: $grey1;
      padding: 10px 15px;
      border-radius: 35px;
      &:hover {
        color: $black1;

        &::before {
          display: none;
        }
      }
    }
  }

  .header-main {
    background: url(../img/bg.jpg) center/cover;

    .header-main-container {
      @include childCenter;
      flex-direction: column;
      padding: 80px 0;

      img {
        display: block;
        height: 200px;

        @media screen and (max-width: 600px) {
          height: 150px;
        }
      }

      h1 {
        text-transform: uppercase;
        color: $white1;
        font-size: 1.4rem;
        padding: 40px 20px;
      }

      .btn {
        letter-spacing: 4px;
        font-weight: 600;
        font-size: 0.7rem;
        padding: 15px 20px;

        i {
          margin-left: 10px;
        }
      }
    }
  }

  .header-text {
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 20px;

    p {
      font-weight: 800;
      line-height: 25px;
      letter-spacing: 0.5px;

      @media screen and (max-width: 600px) {
        font-size: 0.85rem;
      }
    }
  }
}
